@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400;500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.img-login{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.box{ 
    width: 55%;
}

.container{
    height: 80vh;
}

.div-container-texto input {
    margin: 0;

}

.div-login-texto {
    gap: 0.5vw
}

.select-regiao{
    height: 4vh;
    border-radius: 0.5vw;
    padding: 0% 4%;
    font-size: 0.9vw;
    font-family: "Rubik", sans-serif;
    border: 2px solid black;
}

option{
    border-radius: 0.5vw;
}

.divisor-login{
    transform: scaleY(-1);
    top: -10%;
}

.seta{
    width: 4%;    
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

.span-erro{
    font-size: 0.6vw;
    color: transparent;
    font-weight: 400;
    align-self: flex-end;
}


.div-login-texto {

    height: 75vh;
}

.div-container-texto{
    height: 55vh;
}

.img-login{
    height: 81vh;
}