@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
}

.div-pai-dashboard{
    display: flex;
    justify-content: flex-end;
}

.div-container-dashboard{
    /* margin-top: 10vh; */
    display: flex;
    justify-content: space-around;
    width: 85%;

}

.div-grafico{
    width: 60%;
    height: 50vh;
    background-color: #2E2E2E;
    border-radius: 2vw;
    -webkit-box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
}

.div-ranking{
    width: 25%;
    height: 51vh;
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
    border-radius: 2vw;
    -webkit-box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
}

.div-ranking-container{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    text-align: center;
    justify-content: center;
    width: 90%;
    /* height: 20%; */
    gap: 1vw;
}

.div-topUsuarios{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 1vw;
   background-color: #EDD1BA;
   border-radius: 1.5vw;
   height: 5vh;
  
}

.div-ranking-titulo{
    display: flex;
    justify-content: center;
   flex-direction: row;
}

.div-informacao-ranking{
    text-align: justify;
    margin-left: 0.5vw;
    justify-self: flex-end;
}

.div-ranking-curtida{
    display: flex;
    justify-self: flex-end;
    margin-right: 2vw;
    gap: 0.3vw;
}


.p-autor{
    font-size: 0.7vw;
    max-width: 10vw; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.container-topUsuarios{
    display: flex;
    margin-left: 1vw;
}   

.p-titulo-ranking{
    color: white;
}

.icon-curtida{
    color:red;
    font-size: 1.3vw;
}

.fire{
    color: red;
}

.p-titulo-ranking-autor{
    max-width: 10vw; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.div-pai-kpi{
    display: flex;
    justify-content: flex-end;
    margin-top: 3vw;
}

.div-container-kpi{
    width: 85%;
    display: flex;
    justify-content: center;
}

.div-kpi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 18vh;
    background-color: #2E2E2E;
    border-radius: 2vw;
    gap: 1vw;
    -webkit-box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 0.75);
}

.kpi-titulo{
    font-size: 1vw;
    max-width: 14vw; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: center;
    color: white;
}

.div-box-kpi{
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.div-container-titulo-grafico{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;
    font-weight: 400;
    margin-top: 11vh;
    margin-bottom: 0.5vw;
    width: 90%;
    font-size: 1.2vw;
}



.div-container-titulo-grafico span{
    color: red;
}

.icon-publicacao{
    font-size: 2vw;
    color: red;
}

.div-kpi-info{
    width: 80%;
    height: 5vh;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
    background-color: #EDD1BA;
}

.p-kpi{
    font-size: 1.4vw;
    color: black;
}

.p-kpi-gp{
    font-size: 0.8vw;
    max-width: 7vw; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}

.div-kpi-usuario{
    display: flex;
    align-items: center;
}

.div-kpi-qtdPub{
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.icon-qtdPub{
    color: red;
    margin-right: 0.2vw;
}

.kpi-4{
    justify-content: space-around;
    max-width: 14vw; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
