@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body{

    overflow-x: hidden; 
}

html{
    /* Deixar a rolagem com animação */
    scroll-behavior: smooth
}


/* ============================ GERAL ================================ */
.p-titulo{
    font-size: 2.5vw;
}

.p-texto{
    font-size: 1.3vw;
    font-weight: 300;
}

/* ============================ MENU ================================ */
nav{
    background-color: rgb(255, 255, 255); 
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 999;
}


nav li{
    text-decoration: none;
    list-style: none;
}

nav a{
    text-decoration: none;
    font-size: 1.2vw;
    color: black;
}

.navbar1{
    display: flex;
    justify-content: flex-end;
    width: 25vw;
}

.navbar2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding-top: 2%;
}

.navbar3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding-top: 2%;
}

.navbar3 a{
    background-color: #B80000;
    padding: 0.4vw 2.3vw;
    color: white;
    border-radius: 0.3vw;
    font-weight: 300;
}

.navbar3 a:hover{
    background-color: #d10000;
    font-weight: 400;
}

.nav-a{
    position: relative;
}

.nav-a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: #B80000;
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.nav-a:hover::after{
    transform: scale(1,1);
}

.logo{
    width: 18vw;
    padding-top: 2%;
}


/* ============================ INÍCIO ================================ */

.img-divisor{
    position: absolute;
    top: 65%;
    z-index: -1;
    width: 100%;
    
}

.container-incio{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sakura{
    width: 20%;
    position: absolute;
    left: -1%;
    top: 67%;
   
}

.container-introducao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pai-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;

}

.div-box-introducao{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    gap: 1vw;

}

.p-titulo-introducao{
    width: 80%;
    font-size: 2vw;
}

.p-texto-introducao{
    font-size: 1.3vw;
    font-weight: 300;
    width: 80%;
}

.bt-introducao{
    background-color: #B80000;
    padding: 0.4vw 1.8vw;
    color: white;
    border-radius: 0.3vw;
    font-weight: 300;
    border: none;
    font-size: 1.2vw;
}

.bt-introducao:hover{
    background-color: #d10000;
    font-weight: 400;
    cursor: pointer;
}

.img-taiko{
    width: 27vw;
    border-radius: 2vw;
    display: flex;
}

.div-box-img{
    width: 25vw;
 
}


/* ============================ HISTÓRIA ================================ */

.img-petalas{
    position: absolute;
    left: 12%;
    top: 90%;
    width: 25vw;
}

.container-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vw;
}

.div-pai-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    margin-top: 10vw;
    margin-bottom: 10vw;

    
}

.p-texto-historia{
    width: 60%;
    font-size: 1.3vw;
    font-weight: 300;
    text-align: justify;
    line-height: 2vw; 
    text-indent: 3vw;
}

.p-titulo-historia{
    font-size: 2.5vw;

}

.div-pai-historia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-titulo{
    margin-bottom: 2vw;
}

.img-taiko-wallpaper{
    margin-top: 2vw;
    width: 60%;
}

/* ============================ SOBRE ================================ */

.img-divisor-sobre{
    width: 100%;
}

.div-container-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.div-pai-sobre{
    background-color: #FAFAD2;
   display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 3vw;
}

.p-titulo-sobre{
    font-size: 2.5vw;
    
}

.div-box-sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
    margin-top: 5vw;
}

.p-titulo-sptaiko{
    font-size: 2vw;
    font-weight: 400;
}


.div-texto-sobre{
    width: 40%;
    line-height: 2vw; 
    font-weight: 300;
    font-size: 1.3vw;
    text-align: justify;
    
}

#p-texto-sobre{
    margin-block: 1.5vw;
}

.img-sobre{
    width: 30%;
}

.p-titulo-sobre{
    margin-bottom: 0;
}

.div-auxiliar{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
 
}

.img-desenvolvedora{
    width: 100%;
    border-radius: 2vw;
}

.div-redes-sociais{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    height: 9vh;
}

.div-redes-sociais img{
    width: 100%;
}

.div-redes-sociais a{
    width: 15%;
}

.desenvolvedora{
    width: 50%;
}

.gap{
    margin-bottom: 10%;
}


/* ============================ FOOTER ================================ */

footer{
    background-color: #2E2E2E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

footer li{
    text-decoration: none;
    list-style: none;
}

.div-footer1{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    

}

.div-footer2{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: relative;

}

.div-footer3{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

}

.div-footer3 li{
    text-decoration: none;
    list-style: none;
    margin: 2%;
}

.div-footer-navegacao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 25vw;
}

footer a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.2vw;
    font-weight: 300;
}


.footer-a{
    position: relative;
}

.footer-a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 0.120rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.footer-a:hover::after{
    transform: scale(1,1);
    width: 100%;
}

.div-direitos-footer{
    height: 5vh;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
}


body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #2E2E2E;

}
body::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background-color: #B80000;

}