@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Rubik", sans-serif;
}

nav{
    background-color: #D28B53;
    width: 15%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.div-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.img-logo{
    width: 80%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}

.nav-container li{
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.2vw;
    font-weight: 300;
    cursor: pointer;
}

.nav-container li a{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    font-weight: 300;
}

.nav-container li a:hover{
    background-color: #ffffff42;
    border-radius: 2px;
}

.li-seta:hover{
    background-color: #ffffff42;
    border-radius: 2px;
}


.ul-grupos{
    margin-left: 0.5vw;
}

.ul-grupos li a{
    font-size: 0.8vw;
    display: none;
}

.ul-grupos li a:hover{
    text-decoration: underline;
}

.divisor{
    height: 1px;
    width: 8vw;
    display: block;
    background-color: white;
}

.gp-divisor{
    display: none;
}

.seta-baixo{
    position: absolute;
    width: 7%;
    left: 67%;
    top: 24.5%;
    z-index: 1;
    cursor: pointer;

}

.container-sair{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2vw;
    margin-bottom: 1vw;
    align-self: flex-start;
}

.container-sair a{
    display: flex;
    text-decoration: none;
    flex-direction: row;
}


.container-sair p {
    color: white;
    font-size: 1.3vw;
    font-weight: 300;
    margin-left: 1vw;
}